.dialog-panel {
  border-radius: 1rem;
  background-color: var(--color-background);
  padding: 1.5rem;
  backdrop-filter: blur(32px);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.personal-info {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.personal-info-container {
  /*width: 40rem;*/
  border-radius: 0.5rem;
  background-color: var(--color-background);
  box-shadow: var(--shadow-box-main);
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 7rem;
  height: 7rem;
}

.update-profile-image {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 0.86rem;
  color: var(--color-font);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.update-profile-image:hover {
  cursor: pointer;
  background-color: var(--color-font);
  color: var(--color-background);
}
.update-profile-image:hover:active {
  background-color: var(--color-background);
  color: var(--color-font);
}

.label {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 0.86rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input[type="file"] {
  display: none;
}

.role {
  margin-left: 2.2rem;
  display: flex;
  flex-direction: row;
}

.dialog-description-input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--color-font);
  appearance: none;
  font-family: "QuicksandMedium", sans-serif;
  background-color: var(--color-background);
  box-shadow: var(--shadow-input-inset);
  border: 0.063rem var(--color-accent-grey-light) solid;
}
