.section-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}
.section-title-container:hover {
  cursor: pointer;
}
.section-title-container:hover h2 {
  cursor: pointer;
  color: var(--color-font);
}
.section-title {
  color: #d3d5d9;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.625rem;
  font-family: "QuicksandMedium", sans-serif;
  font-size: 3rem;
}

.ellipsis-section {
  display: none;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.1s ease, transform 0.1s ease;
}

.active-section h2 {
  color: var(--color-font);
}
.active-section .ellipsis-section {
  opacity: 1;
  margin-left: auto;
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.active-section .ellipsis-section:hover {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 1;
  box-shadow: var(--shadow-box-main);
  border: 1px solid var(--color-accent-grey-light);
  transform: scale(1);
}
.active-section .ellipsis-section:active {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 1;
  box-shadow: var(--shadow-input-inset);
  border: 1px solid var(--color-accent-grey-light);
  transform: scale(1);
}
.ellipsis-section:hover {
  cursor: pointer;
}
.ellipsis-section[data-active] {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.4rem;
  border: none;
  border-radius: 1rem;
  box-shadow: var(--shadow-box-main);
  border: 1px solid var(--color-accent-grey-light);
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
}

.board_list {
  list-style-type: none;
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1.5rem;
}

.board_list_item_container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.board_list_item_container:hover {
  background-color: var(--color-accent-blue);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  color: var(--color-background);
}

.menu-container {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

.menu-items {
  border-radius: 0.5rem;
  box-shadow: var(--shadow-box-main);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border: 1px solid var(--color-accent-grey-light);
  padding: 0.4rem;
}

.menu-items button {
  border: none;
  background: transparent;
  font-family: "QuicksandMedium", sans-serif;
}

.menu-items *:hover {
  cursor: pointer;
}

.ellipsis {
  display: none;
  transform: scale(0.8);
  transition: transform 0.1s ease;
}
.active {
  background-color: var(--color-accent-blue);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--color-background);
}
.active .ellipsis {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.active .ellipsis:hover {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #2047ca, -5px -5px 10px #2c5fff;
  cursor: pointer;
  transform: scale(1);
}
.active .ellipsis:active {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: inset 5px 5px 10px #2047ca, inset -5px -5px 10px #2c5fff;
  cursor: pointer;
  transform: scale(1);
}
.ellipsis:hover {
  cursor: pointer;
}
.ellipsis[data-active] {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #2047ca, -5px -5px 10px #2c5fff;
  cursor: pointer;
  transform: scale(1);
}

.dialog-description-input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--color-font);
  appearance: none;
  width: 70%;
  font-family: "QuicksandMedium", sans-serif;
  background-color: var(--color-background);
  box-shadow: var(--shadow-input-inset);
  border: 0.063rem var(--color-accent-grey-light) solid;
}

.dialog-warning {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 0.8rem;
  color: var(--color-font);
  padding: 0.5rem;
  border: 1px var(--color-error) solid;
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.buttons * {
  width: 5rem;
  color: var(--color-font);
  padding: 0.5rem;
  background: var(--color-background);
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

.buttons-ok {
  height: 3rem;
  border: 0.063rem var(--color-accent-blue) solid;
}
.buttons-nok {
  height: 3rem;
  border: 0.063rem var(--color-error) solid;
}
.buttons-ok-delete {
  height: 3rem;
  border: 0.063rem var(--color-error) solid;
}
.buttons-nok-delete {
  height: 3rem;
  border: 0.063rem var(--color-accent-blue) solid;
}

.buttons *:hover {
  box-shadow: var(--shadow-box-main);
  transform: scale(1);
  cursor: pointer;
}

.buttons *:active {
  box-shadow: var(--shadow-input-inset);
  transform: scale(1);
  cursor: pointer;
}

.buttons .button-disabled {
  pointer-events: none;
}

.button-disabled {
  height: 3rem;
  border: 0.063rem var(--color-accent-grey-light) solid;
}
