.dialog {
  position: absolute;
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
  z-index: 10;
}

.dialog-overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  width: 100vw;
  overflow-y: auto;
  background-color: var(--color-background);
}

.dialog-panel-wrapper {
  min-height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.dialog-panel {
  width: 100%;
  max-width: 28rem;
  border-radius: 1rem;
  background-color: var(--color-background);
  padding: 1.5rem;
  backdrop-filter: blur(32px);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  box-shadow: var(--shadow-box-main);
}
.dialog-panel[data-closed] {
  opacity: 0;
  transform: scale(0.95);
}
.dialog-panel::backdrop {
  background-color: red;
}

.dialog-title {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1.5rem;
  color: var(--color-font);
  margin-top: 0;
}

.dialog-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
