.dialog-warning {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 0.8rem;
  color: var(--color-font);
  padding: 0.5rem;
  border: 1px var(--color-error) solid;
  border-radius: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.buttons * {
  width: 5rem;
  color: var(--color-font);
  padding: 0.5rem;
  background: var(--color-background);
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

.buttons-ok-delete {
  height: 3rem;
  border: 0.063rem var(--color-error) solid;
}
.buttons-nok-delete {
  height: 3rem;
  border: 0.063rem var(--color-accent-blue) solid;
}

.buttons *:hover {
  box-shadow: var(--shadow-box-main);
  transform: scale(1);
  cursor: pointer;
}

.buttons *:active {
  box-shadow: var(--shadow-input-inset);
  transform: scale(1);
  cursor: pointer;
}
