.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*box-shadow: var(--shadow-box-main);*/
  /*border-radius: 1rem;*/
}

.ellipsis {
  margin-left: auto;
  transform: scale(0.8);
  transition: opacity 0.1s ease, transform 0.1s ease;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}
.ellipsis:hover {
  transform: scale(1);
  cursor: pointer;
  box-shadow: var(--shadow-box-main);
}
.ellipsis:active {
  box-shadow: var(--shadow-input-inset);
}
.ellipsis[data-active] {
  box-shadow: var(--shadow-input-inset);
}

.column {
  /*max-height: 37.5rem;*/
  min-height: 10rem;

  width: 15rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-shrink: 0;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.column-title {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1rem;
}

.menu-container {
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

.menu-items {
  border-radius: 0.5rem;
  box-shadow: var(--shadow-box-main);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border: 1px solid var(--color-accent-grey-light);
  padding: 0.4rem;
}

.menu-items button {
  border: none;
  background: transparent;
  font-family: "QuicksandMedium", sans-serif;
}

.menu-items *:hover {
  cursor: pointer;
}
