.dialog-panel {
  border-radius: 1rem;
  width: 35rem;
  height: 38rem;
  background-color: var(--color-background);

  border: 1px dashed gray;

  padding: 1.5rem;
  backdrop-filter: blur(32px);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
