.sidebar {
  width: 20rem;
  margin-top: 0.625rem;
  flex-shrink: 0;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
}

.add-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 0.4rem;
  transition: transform 0.1s ease;
  border-radius: 0.5rem;
}
.add-section:hover {
  box-shadow: var(--shadow-box-main);
  transform: scale(1.03);
  cursor: pointer;
}
.add-section:active {
  box-shadow: var(--shadow-input-inset);
  cursor: pointer;
}
.add-section button {
  color: var(--color-font);
  padding: 0.5rem;
  background: var(--color-background);
  border: none;
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1.2rem;
}
.add-section button:hover {
  cursor: inherit;
}

hr {
  color: var(--color-font);
  width: 90%;
}
