.header {
  height: 3.125rem;
  width: 100%;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
}

.search {
  width: 15rem;
  display: flex;
}

.search-input {
  height: 2.5rem;
  padding: 0.4rem 0.4rem 0.4rem 2rem;
  border-radius: 0.5rem;
  border: none;
  appearance: none;
  font-family: "QuicksandMedium", sans-serif;
  background-color: var(--color-background);
  background-image: url("/search.svg");
  background-repeat: no-repeat;
  background-position: 0.5rem;
  border: 0.063rem var(--color-accent-grey-light) solid;
  box-shadow: var(--shadow-input-inset);
}

.team {
  display: flex;
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.profile {
  margin-left: auto;
}
.profile:hover {
  cursor: pointer;
}

.profile-menu {
  margin-top: 0.6rem;
  width: 10rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-box-main);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.profile-menu button {
  border: none;
  background: transparent;
  font-family: "QuicksandMedium", sans-serif;
  padding: 0.4rem;
}
