.work-in-progress,
.done {
	min-height: 30rem;
	width: 20rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	/* dnd not working well with gaps :( */
	/* gap: 1rem; */
	flex-direction: column;
	align-items: center;
}

.column-title {
	margin-left: 1rem;
}

p {
	font-family: "QuicksandMedium", sans-serif;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
p:hover {
	cursor: default;
}
