.board {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.columns {
  max-height: 37.5rem;
  min-height: 37.5rem;
  overflow-y: scroll;
  overflow-x: auto;
  margin: 0.625rem 0.625rem 0;
  padding: 0 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-left: 0.625rem;
  margin-top: 0.8rem;
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.1s ease;
  margin-left: 1.5rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-accent-blue-light);
}
.buttons:hover {
  box-shadow: var(--shadow-box-main);
  border: 1px solid var(--color-accent-blue);
  transform: scale(1.03);
  cursor: pointer;
}
.buttons:active {
  box-shadow: var(--shadow-input-inset);
  border: 1px solid var(--color-accent-blue);
  cursor: pointer;
}

.add-column {
  color: var(--color-font);
  background: var(--color-background);
  border: none;
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
.add-column:hover {
  cursor: inherit;
}
