.component-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image-input::file-selector-button {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1rem;
  color: var(--color-font);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.image-input::file-selector-button:hover {
  cursor: pointer;
  background-color: var(--color-font);
  color: var(--color-background);
}
.image-input::file-selector-button:active {
  background-color: var(--color-background);
  color: var(--color-font);
}

.crop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  overflow: hidden; /* Prevents content from overflowing */
}

button:hover {
  cursor: pointer;
}

.crop-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.crop-button-ok {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1rem;
  color: var(--color-font);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}
.crop-button-nok {
  font-family: "QuicksandMedium", sans-serif;
  font-size: 1rem;
  color: var(--color-font);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  color: red;
}
