.signup-container {
	height: 100vh;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.content-container {
	display: flex;
	flex-direction: row;
}

.signup-static {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.logo {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}
.logo h1 {
	font-family: "QuicksandBold", sans-serif;
}

.logo-image {
	width: 10rem;
	height: 10rem;
}

.welcome-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.welcome-text h1 {
	margin: 0;
	font-family: "QuicksandMedium", sans-serif;
}
.welcome-text h3 {
	margin: 0;
	font-family: "QuicksandLight", sans-serif;
}

.signup-form {
	width: 45rem;
	margin: 0;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
}

.signup-button {
	border: none;
	color: var(--color-white);
	background-color: var(--color-accent-blue);
	font-size: 1rem;
	font-family: "QuicksandBold", sans-serif;
	margin-top: 0.78rem;
	width: 18rem;
	height: 6rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow-box-main);
}
.signup-button:hover {
	cursor: pointer;
	color: var(--color-accent-blue);
	border: 0.063rem solid var(--color-accent-blue);
	background-color: var(--color-background);
}
.signup-button:active {
	box-shadow: var(--shadow-input-inset);
}

@media only screen and (max-width: 1920px) {
	.signup-form {
		width: 45rem;
		height: 40rem;
	}
}
